{
  "extends": [
    "a1motion/typescript-react"
  ],
  "parserOptions": {
    "project": "tsconfig.eslint.json",
    "createDefaultProgram": true
  },
  "rules": {
    "react/react-in-jsx-scope": 0
  }
}